body {
  --primary: rgb(155 203 250);
  --surface-tint: rgb(155 203 250);
  --on-primary: rgb(0 51 83);
  --primary-container: rgb(13 74 115);
  --on-primary-container: rgb(206 229 255);
  --secondary: rgb(185 200 218);
  --on-secondary: rgb(35 50 64);
  --secondary-container: rgb(58 72 87);
  --on-secondary-container: rgb(213 228 247);
  --tertiary: rgb(211 191 230);
  --on-tertiary: rgb(56 42 73);
  --tertiary-container: rgb(79 64 97);
  --on-tertiary-container: rgb(238 219 255);
  --error: rgb(255 180 171);
  --on-error: rgb(105 0 5);
  --error-container: rgb(147 0 10);
  --on-error-container: rgb(255 218 214);
  --background: rgb(16 20 24);
  --on-background: rgb(224 226 232);
  --surface: rgb(16 20 24);
  --on-surface: rgb(224 226 232);
  --surface-variant: rgb(66 71 78);
  --on-surface-variant: rgb(194 199 207);
  --outline: rgb(140 145 152);
  --outline-variant: rgb(66 71 78);
  --shadow: rgb(0 0 0);
  --scrim: rgb(0 0 0);
  --inverse-surface: rgb(224 226 232);
  --inverse-on-surface: rgb(45 49 53);
  --inverse-primary: rgb(46 98 140);
  --primary-fixed: rgb(206 229 255);
  --on-primary-fixed: rgb(0 29 50);
  --primary-fixed-dim: rgb(155 203 250);
  --on-primary-fixed-variant: rgb(13 74 115);
  --secondary-fixed: rgb(213 228 247);
  --on-secondary-fixed: rgb(14 29 42);
  --secondary-fixed-dim: rgb(185 200 218);
  --on-secondary-fixed-variant: rgb(58 72 87);
  --tertiary-fixed: rgb(238 219 255);
  --on-tertiary-fixed: rgb(35 21 51);
  --tertiary-fixed-dim: rgb(211 191 230);
  --on-tertiary-fixed-variant: rgb(79 64 97);
  --surface-dim: rgb(16 20 24);
  --surface-bright: rgb(54 57 62);
  --surface-container-lowest: rgb(11 15 18);
  --surface-container-low: rgb(24 28 32);
  --surface-container: rgb(28 32 36);
  --surface-container-high: rgb(39 42 47);
  --surface-container-highest: rgb(50 53 57);
}
