body {
  --primary: rgb(4 70 110);
  --surface-tint: rgb(46 98 140);
  --on-primary: rgb(255 255 255);
  --primary-container: rgb(71 121 164);
  --on-primary-container: rgb(255 255 255);
  --secondary: rgb(54 68 83);
  --on-secondary: rgb(255 255 255);
  --secondary-container: rgb(103 118 134);
  --on-secondary-container: rgb(255 255 255);
  --tertiary: rgb(75 60 93);
  --on-tertiary: rgb(255 255 255);
  --tertiary-container: rgb(127 110 145);
  --on-tertiary-container: rgb(255 255 255);
  --error: rgb(140 0 9);
  --on-error: rgb(255 255 255);
  --error-container: rgb(218 52 46);
  --on-error-container: rgb(255 255 255);
  --background: rgb(247 249 255);
  --on-background: rgb(24 28 32);
  --surface: rgb(247 249 255);
  --on-surface: rgb(24 28 32);
  --surface-variant: rgb(222 227 235);
  --on-surface-variant: rgb(62 67 74);
  --outline: rgb(90 96 102);
  --outline-variant: rgb(118 123 130);
  --shadow: rgb(0 0 0);
  --scrim: rgb(0 0 0);
  --inverse-surface: rgb(45 49 53);
  --inverse-on-surface: rgb(238 241 246);
  --inverse-primary: rgb(155 203 250);
  --primary-fixed: rgb(71 121 164);
  --on-primary-fixed: rgb(255 255 255);
  --primary-fixed-dim: rgb(44 96 137);
  --on-primary-fixed-variant: rgb(255 255 255);
  --secondary-fixed: rgb(103 118 134);
  --on-secondary-fixed: rgb(255 255 255);
  --secondary-fixed-dim: rgb(79 93 109);
  --on-secondary-fixed-variant: rgb(255 255 255);
  --tertiary-fixed: rgb(127 110 145);
  --on-tertiary-fixed: rgb(255 255 255);
  --tertiary-fixed-dim: rgb(101 85 119);
  --on-tertiary-fixed-variant: rgb(255 255 255);
  --surface-dim: rgb(216 218 224);
  --surface-bright: rgb(247 249 255);
  --surface-container-lowest: rgb(255 255 255);
  --surface-container-low: rgb(241 243 249);
  --surface-container: rgb(236 238 243);
  --surface-container-high: rgb(230 232 238);
  --surface-container-highest: rgb(224 226 232);
}
